@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
    box-sizing: border-box;
  }
  
body {
    color: rgb(16, 24, 74);
    background-color: #16D9E3;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    text-align: center;
    background: linear-gradient(118.38deg, #345171 -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
  }

header {
    line-height: 1.4;
    font-size: 4rem;
    text-align: center;
    position: relative;
  }

.hidden {
    display: none;
  }
.start {
    font-size: 2rem;
    background-color: #174A69;
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 10px #475462;
    border-radius: 10px;
}

.fight {
    font-size: 2rem;
    background-color: #174A69;
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 10px #475462;
    border-radius: 10px;
}

.box {
  background-color: #174A69;
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 10px #475462;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 150px;
  width: 200px;
}
.pers {
    font-size: 2rem;
    background-color: #174A69;
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 10px #475462;
    border-radius: 10px;
}

.characters-list {
    font-size: 1.5rem;
    background-color: linear-gradient(118.38deg, #345171 -4.6%, #485563 200.44%);
    border-radius: 20px;
  }

.battle-field {
    font-size: 2rem;
    background-color: #16D9E3;
    background: linear-gradient(118.38deg, #345171 -4.6%, #485563 200.44%);
    border-radius: 30px;
}